
<div class="divider">
<% if current_user %>
  <button type="button" class="btn btn-warning" onclick="window.location.href='/users/<%= current_user.id %>/'">Viaggio</button>
<a href="/locations/new">Add New Trip</a>
<% else %>
  <a href="/signup">Sign Up</a>
  <a href="/login">Log In</a>
<% end %>

<section>
<h2>Trip Destination</h2>
  <div class="row">
    <% @location_preferences.each do |location_preference| %>
      <div class="col-sm-12">
        <div class="location_single">
          <h2 class="location_header"></h2>
        <ul>
          <h3><a href="/locations/<%= location_preference.location.id %>/edit"><%= location_preference.location.name %></a></h3>
          <h3><%= location_preference.location.id %></h3>
        </ul>
        </div>
      </div>
    <% end %>
  </div>
</section>
</div class="divider">





