
<button type="button" class="btn btn-warning" onclick="window.location.href='/signup'">Sign Up</button>

<button type="button" class="btn btn-warning" onclick="window.location.href='/login'">Log In</button>  

<button type="button" class="btn btn-warning" onclick="window.location.href='/'">Viaggio</button>


