<button type="button" class="btn btn-warning" onclick="window.location.href='/signup'">Sign Up</button>

<button type="button" class="btn btn-warning" onclick="window.location.href='/login'">Log In</button>  

<div id="title">
  <h1>VIAGGIO</h1>
</div>